.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  gap: 10px;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


.countryInput , .stateInput , .cityInput{
  width: 250px;
  height: 40px;
  padding: 2px;
  padding-left: 4px;
}